
__pycache__/
.vscode/
.idea/
build/
x86/
x64/
cmake-build-debug-visual-studio/
cmake-build-release-visual-studio/
ClionBuild/
cmake-build*/
debug*/
release*/
docs/html/
docs/latex/
docs/api/
*_*.qm
*.ksd
tools/set_*_env.bat
